@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: rgb(79, 79, 209);
    font: normal 15pt Arial;
    padding: 4px;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}
fieldset {
    background-color: rgb(245, 245, 245);
    padding: 8px;
    border-radius: 10px;
}
div {
    padding: 8px;
}
div#res {
    margin: 8px auto;
    overflow-x: auto;
    width: calc(100% - 34px);
}
p {
    padding: 4px;
}
h1 {
    text-align: center;
    margin: 15px auto;
}
select {
    height:33px;
    width:212px;
}
legend {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0px 8px;
    padding: 0px 2px;
}
input#ilink {
    height:33px;
    width: 100%;
    margin-right: 7px;
}
input#inome {
    height: 33px;
    width: 232px;
    text-transform: capitalize;
}
input#data {
    height:33px;
    width:160px
}
input[type="button"] {
    height:33px;
    width:100px;
    color: white;
    background-color: rgb(79, 79, 209);
    border-radius: 8px;
    border: 0px;
}
input#add {
    margin-top: 10px;
}
input[type="button"]:hover {
    background-color: rgb(64, 64, 168);
    cursor: pointer;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}
