@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 640px
Celular: 640px até 768px
Tablet: 769px até 1024px
Laptop: 1025px até 1280px
Grandes telas: acima de 1280px
*/

@media screen and (min-width: 800px) {/*CONFIGURAÇÃO PARA TABLET*/
    body {
        background-image: linear-gradient(to top, rgb(209, 209, 209), rgb(79, 79, 209));
        width: 100vw;
        height: 100vh;
    }

    footer {
        color: black;
    }
}